pipeline/pl_transform_formula_1_data.json
{
	"name": "pl_transform_formula_1_data",
	"properties": {
		"activities": [
			{
				"name": "Get_Folder_detail",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@pipeline().parameters.p_window_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Folder_detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get_Folder_detail').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "transform_race_results",
							"description": "first time ingesting a file using pipeline",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/playground/Formula1/trans/1.race_results",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "transform_constructor_standings_results",
							"description": "first time ingesting a file using pipeline",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "transform_race_results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/playground/Formula1/trans/3.constructor_standings",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "transform_calculated_race_results",
							"description": "first time ingesting a file using pipeline",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/playground/Formula1/trans/4.calculate_race_results",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "transform_drivers_standings_results",
							"description": "first time ingesting a file using pipeline",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "transform_race_results",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/playground/Formula1/trans/2.driver_standings",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_ws",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_datasource": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-02-27T15:39:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}